<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scoreboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">
    <script src="https://cdn.socket.io/4.5.1/socket.io.min.js"></script>
</head>
<body>
    <h1>Leaderboard</h1>
    <div id="leaderboard">
        {% for user in users %}
        <div class="user">  
            <div class="user-info">
                <span class="user-name">{{ loop.index }}. {{ user.NAME }}</span>
                <span class="user-drinks">{{ user.SCORE }} Points ({{ user.DRINKS }} Drinks, {{ user.SHOTS }} Shots)</span>
            </div>
            <img src="{{ user.PROFILEPICTURE_PATH }}" alt="Foto de {{ user.NAME }}" class="user-image">
        </div>
        {% endfor %}
    </div>

    <script>
        // Conectar al servidor de Socket.IO
        const socket = io();

        // Escuchar el evento 'update_scoreboard' para actualizar el leaderboard en tiempo real
        socket.on('update_scoreboard', (users) => {
            const leaderboard = document.getElementById('leaderboard');
            leaderboard.innerHTML = ''; // Limpiar el contenido actual

            // Ordenar los usuarios por SCORE de mayor a menor
            users.sort((a, b) => b.SCORE - a.SCORE);

            // Recorrer los datos actualizados y generar el HTML
            users.forEach((user, index) => {
                const userDiv = document.createElement('div');
                userDiv.classList.add('user');

                userDiv.innerHTML = `
                    <div class="user-info">
                        <span class="user-name">${index + 1}. ${user.NAME}</span>
                        <span class="user-drinks">${user.SCORE} Points (${user.DRINKS} Drinks, ${user.SHOTS} Shots)</span>
                    </div>
                    <img src="${user.PROFILEPICTURE_PATH}" alt="Foto de ${user.NAME}" class="user-image">
                `;
                leaderboard.appendChild(userDiv);
            });
        });
    </script>
</body>
</html>
